.errorMessage {
  margin: 0;
  background: #b81414;
  color: #fffafa;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 10px;
  border-radius: 12px;
}
